$title-text: (
  color: #000000,
  font-size: 20px,
  font-weight: 700,
);
$primary-text: (
  color: #141414,
  font-size: 14px,
  font-weight: 500,
);
$secondary-text: #323232;

$details-background: #f1f1f1;
$payment-background: #f9f9f9;

$card-background: #d9d9d9;
$card-border: #ed7a7a;

$card-primary-text: (
  color: #141414,
  font-size: 12px,
  font-weight: 600,
);

$card-secondary-text: (
  color: #323232,
  font-size: 10px,
  font-weight: 500,
);

$background-li-default: #f9f9f9;
$background-li-clicked: #ed7a7a;
$text-li-default: #ed7a7a;
$text-li-clicked: #ffffff;

$button-style: (
  color: #ffffff,
  background: #ed7a7a,
  border: 1px solid #ed7a7a,
  border-radius: 10px,
  cursor: pointer,
  padding: 10px,
  font-size: 14px,
  font-weight: 600,
  width: 80%,
);

$error-text: (
  color: red,
  font-size: 10px,
  font-weight: 600,
);
