$title-text: #000000;
$primary-text: #141414;
$secondary-text: #323232;

$details-background: #f1f1f1;
$payment-background: #f9f9f9;

$card-background: #d9d9d9;
$card-border: #ed7a7a;

$background-li-default: #f9f9f9;
$background-li-clicked: #ed7a7a;
$text-li-default: #ed7a7a;
$text-li-clicked: #ffffff;

$button-background: #ed7a7a;
$text-button: #ffffff;
