@import "./base.css";

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #app {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
